<app-header></app-header>

<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
      <img src="./../../assets/images/saffola1free.webp" alt="Saffola">
      <img src="./../../assets/images/colgate.jpg" alt="colgate">
      <img src="./../../assets/images/ganeshTea.jpeg" alt="Ganesh Tea">
      <img src="./../../assets/images/rice.jpeg" alt="Rice">
      <img src="./../../assets/images/toorDal.jpeg" alt="Toor Dal">
      <img src="./../../assets/images/masoorDal.jpeg" alt="Massor Dal">
      <img src="./../../assets/images/sugar.jpeg" alt="Sugar">
      <img src="./../../assets/images/wiproLed9Watt.jpg" alt="Wipro Led">
      <img src="./../../assets/images/potato.jpeg" alt="Potato">
      <img src="./../../assets/images/onion.jpeg" alt="Onion">
      <img src="./../../assets/images/garlic.jpeg" alt="Garlic">
      <img src="./../../assets/images/santoorSoap.jpeg" alt="Santoor Soap">
      <img src="./../../assets/images/dettol3+1Soap.jpeg" alt="Dettol Soap">
      <img src="./../../assets/images/lifebouySoap.jpeg" alt="Lifebuoy Soap">
      <img src="./../../assets/images/luxSoap.jpeg" alt="Lux Soap">
      <img src="./../../assets/images/kanaiyaMamra.jpg" alt="Kanaiya Mamra">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
