<app-header></app-header>

<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/saffola-gold-5+1ltr.png" alt="Saffola">
          <div class="card-body p-0">
            <div class="card-title m-0">Saffola Gold</div>
            <span class="card-text">&#x20B9;799/-</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
          <div class="card-body p-0">
            <div class="card-title m-0">Colgate</div>
            <span class="card-text">&#x20B9;10 & more</span>
          </div>
        </div>
      </div>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/ganeshTea.jpeg" alt="Ganesh Tea">
          <div class="card-body p-0">
            <div class="card-title m-0">Ganesh Tea</div>
            <span class="card-text">&#x20B9;5 & more</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/rice.jpeg" alt="Rice">
          <div class="card-body p-0">
            <div class="card-title m-0">Rice</div>
            <span class="card-text">&#x20B9;40/kg & more</span>
          </div>
        </div>
      </div>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/toorDal.jpeg" alt="Toor Dal">
          <div class="card-body p-0">
            <div class="card-title m-0">Toor Dal</div>
            <span class="card-text">&#x20B9;110/kg</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/masoorDal.jpeg" alt="Massor Dal">
          <div class="card-body p-0">
            <div class="card-title m-0">Masoor Dal</div>
            <span class="card-text">&#x20B9;90/kg</span>
          </div>
        </div>
      </div>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/sugar.jpeg" alt="Sugar">
          <div class="card-body p-0">
            <div class="card-title m-0">Sugar</div>
            <span class="card-text">&#x20B9;38/kg</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/wiproLed9Watt.jpg" alt="Wipro Led">
          <div class="card-body p-0">
            <div class="card-title m-0">Wipro Led</div>
            <span class="card-text">&#x20B9;150/-</span>
          </div>
        </div>
      </div>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/potato.jpeg" alt="Potato">
          <div class="card-body p-0">
            <div class="card-title m-0">Potato</div>
            <span class="card-text">&#x20B9;50/kg</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/onion.jpeg" alt="Onion">
          <div class="card-body p-0">
            <div class="card-title m-0">Onion</div>
            <span class="card-text">&#x20B9;60/kg</span>
          </div>
        </div>
      </div>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/garlic.jpeg" alt="Garlic">
          <div class="card-body p-0">
            <div class="card-title m-0">Garlic</div>
            <span class="card-text">&#x20B9;130/kg</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/santoorSoap.jpeg" alt="Santoor Soap">
          <div class="card-body p-0">
            <div class="card-title m-0">Santoor Soap</div>
            <span class="card-text">&#x20B9;10 & more</span>
          </div>
        </div>
      </div>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/dettol3+1Soap.jpeg" alt="Dettol Soap">
          <div class="card-body p-0">
            <div class="card-title m-0">Dettol Soap(3+1)</div>
            <span class="card-text">&#x20B9;95</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/lifebouySoap.jpeg" alt="Lifebuoy Soap">
          <div class="card-body p-0">
            <div class="card-title m-0">Lifebuoy Soap(1 pcs)</div>
            <span class="card-text">&#x20B9;10 </span>
          </div>
        </div>
      </div>
      <div class="row mx-0 mb-2">
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/luxSoap.jpeg" alt="Lux Soap">
          <div class="card-body p-0">
            <div class="card-title m-0">Lux Soap (1 pcs)</div>
            <span class="card-text">&#x20B9;10</span>
          </div>
        </div>
        <div class="col-6 card border-0 p-0">
          <img src="./../../assets/images/kanaiyaMamra.jpg" alt="Kanaiya Mamra">
          <div class="card-body p-0">
            <div class="card-title m-0">Kanaiya Mamra</div>
            <span class="card-text">&#x20B9;30</span>
          </div>
        </div>
      </div>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
