<app-header></app-header>

<ion-content>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
      <div class="d-flex justify-content-between mt-4">
        <ion-label>Morning Stuffs</ion-label>
        <ion-label>See All</ion-label>
      </div>
      <ion-slides [options]="sliderConfig">
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
        <ion-slide class="bg-dark text-white">
          <img src="./../../assets/images/colgate.jpg" alt="colgate">
        </ion-slide>
      </ion-slides>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary" class="w-100 d-flex justify-content-around">
      <ion-button slot="start">
        <ion-icon name="apps-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>